.background-login-image {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/background-2.png") center no-repeat, url("../../assets/img/background-joker.jpg") center no-repeat;
  background-size: cover;
}